@charset "utf-8";

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('SpoqaHanSansNeo-Bold.eot');
  src: url('SpoqaHanSansNeo-Bold.eot?#iefix') format('embedded-opentype'),
    url('SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('SpoqaHanSansNeo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('font/SpoqaHanSansNeo-Medium.eot');
  src: url('font/SpoqaHanSansNeo-Medium.eot?#iefix') format('embedded-opentype'),
    url('font/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('font/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('font/SpoqaHanSansNeo-Light.eot');
  src: url('font/SpoqaHanSansNeo-Light.eot?#iefix') format('embedded-opentype'),
    url('font/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('font/SpoqaHanSansNeo-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('font/SpoqaHanSansNeo-Regular.eot');
  src: url('font/SpoqaHanSansNeo-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('font/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('font/SpoqaHanSansNeo-Thin.eot');
  src: url('font/SpoqaHanSansNeo-Thin.eot?#iefix') format('embedded-opentype'),
    url('font/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
    url('font/SpoqaHanSansNeo-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  max-width: 390px;
  margin: 0 auto;
  position: relative;
}