@charset "utf-8";
@import url('common.css');

section {
    margin-bottom: 30px;
}

h4 {
    margin-bottom: 15px;
    margin-top: 10px;
}

header {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: top 0.2s, background-color 0.5s;
}

header.on {
    top: 0;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
    position: fixed;
    z-index: 99;
}

header .inner {
    width: 390px;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

header .inner h1 {
    position: absolute;
    top: 0;
    left: 53%;
    transform: translate(-53%);
}

header .inner .menu_icon {
    position: absolute;
    top: 12%;
    right: 5%;
    transform: translate(-5%, -12%);
}

header .inner h1 a img {
    width: 45px;
    height: 22px;
}

header.on .inner h1 a img:first-child {
    display: none;
}

header .inner h1 a img:nth-child(2) {
    display: none;
}

header.on .inner h1 a img:nth-child(2) {
    display: block;
    margin-top: 5px;
}

header .inner .menu_icon img {
    width: 19px;
    height: 19px;
}

header.on .inner .menu_icon img {
    display: none;
}

header .inner .menu_icon img:nth-child(2) {
    display: none;
}

header.on .inner .menu_icon img:nth-child(2) {
    display: block;
}

/* main */

main .inner {
    width: 100%;
    padding: 0 20px;
    background-color: #FFFFFF;
    /*색 변경 */
    position: relative;
    top: 365px;
    border-radius: 20px 20px 0 0;
}

/* main_visual */

#main_visual {
    position: fixed;
    width: 390px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#main_visual:hover .btn button {
    display: block;
}

#main_visual figure {
    width: 100%;
    height: 365px;
}

#main_visual figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main_visual .btn button {
    /* 버튼 공통으로 트렌지션 */
    width: 32px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 0;
    background-color: #fff;
    display: none;
}

#main_visual .btn .prev {
    border-radius: 0 16px 16px 0;
}

#main_visual .btn .prev img {
    width: 5px;
    height: 8px;
}

#main_visual .btn .next {
    left: auto;
    /* left랑 right동시에 못 잡으니. */
    right: 0;
    border-radius: 16px 0 0 16px;
}

#main_visual .btn .next img {
    width: 5px;
    height: 8px;
}

#main_visual .numbtn {
    display: flex;
    position: absolute;
    right: 16px;
    bottom: 36px;
    padding: 5px;
    margin: -5px;
}

#main_visual .numbtn .numlist {
    display: flex;
    background-color: rgba(0, 0, 0, 0.24);
    color: rgba(255, 255, 255, 0.6);
    align-items: center;
    border-radius: 20px;
    padding: 3px 6px;
    backdrop-filter: blur(8px);
}

#main_visual .numbtn .numlist .num {
    font-size: 13px;
    font-weight: 400;
    margin-right: 4px;
}

#main_visual .numbtn .numlist img {
    width: 12px;
    height: 12px;
}

.all {
    background-color: #FFFFFF;
    /* 색 변경 */
    border-radius: 20px 20px 0 0;
}

.all .board {
    padding-top: 15px;
    margin-bottom: 30px;
}

.all .board .list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.all .board .list .item figure {
    width: 72px;
    height: 72px;
}

.all .board .list figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.all .board .list .item div p {
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
}

.best {
    position: relative;
}

.best .swiper-button-next::after,
.best .swiper-button-prev::after {
    display: none;
}

.best .swiper-button-next::before {
    content: '';
    width: 24px;
    height: 24px;
    background: url(../img/right.png) center center/ 100% no-repeat;
    position: absolute;
    top: -75%;
    right: -10px;
    opacity: 0.6;
}

.best .swiper-button-prev::before {
    content: '';
    width: 24px;
    height: 24px;
    background: url(../img/left.png) center center/ 100% no-repeat;
    position: absolute;
    top: -75%;
    right: -290px;
    opacity: 0.6;
}

.best .list div p {
    margin-bottom: 5px;
    font-size: 14px;
}

.best .list div h4 {
    font-size: 20px;
}

.best .list .bestitem figure {
    width: 170px;
    height: 90px;
}

.best .list .bestitem figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* hotel */

.hotel {
    width: 100%;
}

.hotel div p {
    font-size: 14px;
    margin-bottom: 5px;
}

.hotel div h4 {
    font-size: 20px;
}

.hotel>span {
    display: block;
    width: 53px;
    height: 31px;
    background-color: #2175FF;
    color: white;
    font-size: 13px;
    border-radius: 50px;
    text-align: center;
    line-height: 31px;
    margin-bottom: 15px;
}

.hotel .item {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 15px;
}

.hotel .item figure {
    width: 88px;
    height: 112px;
}

.hotel .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hotel .item>img:nth-child(2) {
    width: 16px;
    height: 20px;
    object-fit: cover;
    position: absolute;
    top: 8px;
    left: 65px;
}

.hotel .item div {
    margin-left: 15px;
    font-size: 13px;
}

.hotel .item div h4 {
    font-size: 14px;
    margin: 4px;
}

.hotel .item div p img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.hotel .item div p {
    margin-top: 4px;
    margin-bottom: 8px;
}

.hotel .item div p:nth-of-type(1) span {
    margin: 0 5px;
}

.hotel .item div p:nth-of-type(2) span {
    color: #2175FF;
}

.hotel .item div p:nth-of-type(2) span:nth-of-type(2) {
    margin: 0 5px;
    color: #333;
}

.hotel .item div strong {
    margin-top: 8px;
    color: #2175FF;
}

.hotel>p {
    font-size: 13px;
}

.theme {
    position: relative;
}

.theme .list {
    width: 100%;
    margin: 0 auto;
}

.theme .list div h4 {
    font-size: 20px;
}

.theme .list div p {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

.theme .list div span {
    display: block;
    font: 12px;
    color: rgb(0, 0, 0, 0.6);
}

.theme .list figure {
    width: 169px;
    height: 215px;
}

.theme .list figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .theme .swiper-theme-next::after,
.theme .swiper-theme-prev::after {
    display: none;
}

.theme .swiper-theme-next::before {
    content: '';
    width: 24px;
    height: 24px;
    background: url(../img/right.png) center center/ 100% no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

.theme .swiper-theme-prev::before {
    content: '';
    width: 24px;
    height: 24px;
    background: url(../img/left.png) center center/ 100% no-repeat;
    position: absolute;
    top: 0;
    right: 0;
} */


/* family */

.family {
    width: 100%;
}

.family div p {
    font-size: 14px;
    margin-bottom: 5px;
}

.family div h4 {
    font-size: 20px;
}

.family> .familyItem p {
    display: block;
    width: 53px;
    height: 31px;
    background-color: #2175FF;
    color: white;
    font-size: 13px;
    border-radius: 50px;
    text-align: center;
    line-height: 31px;
    margin-bottom: 15px;
}

.family .item {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 15px;
}

.family .item figure {
    width: 88px;
    height: 112px;
}

.family .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.family .item>img:nth-child(2) {
    width: 16px;
    height: 20px;
    object-fit: cover;
    position: absolute;
    top: 8px;
    left: 65px;
}

.family .item div {
    margin-left: 15px;
    font-size: 13px;
}

.family .item div h4 {
    font-size: 14px;
    margin: 4px;
}

.family .item div p img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.family .item div p {
    margin-top: 4px;
    margin-bottom: 8px;
}

.family .item div p:nth-of-type(1) span {
    margin: 0 5px;
}

.family .item div p:nth-of-type(2) span {
    color: #2175FF;
}

.family .item div p:nth-of-type(2) span:nth-of-type(2) {
    margin: 0 5px;
    color: #333;
}

.family .item div strong {
    margin-top: 8px;
    color: #2175FF;
}

.family>p {
    font-size: 13px;
}