@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Helvetica Neue LT Pro';
  color: black;
  line-height: 1;
  font-size: 62.5%;
  font-weight: 400;
}

h3 {
  font-size: 2.0rem;
  margin-bottom: 2rem;
}



@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('font/HelveticaNeueLTPro-Lt.eot');
  src: url('font/HelveticaNeueLTPro-Lt.eot?#iefix') format('embedded-opentype'),
      url('font/HelveticaNeueLTPro-Lt.woff2') format('woff2'),
      url('font/HelveticaNeueLTPro-Lt.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('font/HelveticaNeueLTPro-Md.eot');
  src: url('font/HelveticaNeueLTPro-Md.eot?#iefix') format('embedded-opentype'),
      url('font/HelveticaNeueLTPro-Md.woff2') format('woff2'),
      url('font/HelveticaNeueLTPro-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('font/HelveticaNeueLTPro-Th.eot');
  src: url('font/HelveticaNeueLTPro-Th.eot?#iefix') format('embedded-opentype'),
      url('font/HelveticaNeueLTPro-Th.woff2') format('woff2'),
      url('font/HelveticaNeueLTPro-Th.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('font/HelveticaNeueLTPro-Bd.eot');
  src: url('font/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'),
      url('font/HelveticaNeueLTPro-Bd.woff2') format('woff2'),
      url('font/HelveticaNeueLTPro-Bd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('font/HelveticaNeueLTPro-Roman.eot');
  src: url('font/HelveticaNeueLTPro-Roman.eot?#iefix') format('embedded-opentype'),
      url('font/HelveticaNeueLTPro-Roman.woff2') format('woff2'),
      url('font/HelveticaNeueLTPro-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('font/HelveticaNeueLTPro-Blk.eot');
  src: url('font/HelveticaNeueLTPro-Blk.eot?#iefix') format('embedded-opentype'),
      url('font/HelveticaNeueLTPro-Blk.woff2') format('woff2'),
      url('font/HelveticaNeueLTPro-Blk.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}